B2_S3_ENDPOINT=your_endpoint_here
B2_KEY_ID=your_key_id_here
B2_APP_KEY=your_app_key_here
B2_BUCKET=your_bucket_name_here
INPUT_PATH=https://your_bucket_name_here.s3.your_endpoint_here.backblazeb2.com/inputs/bank-full.csv